@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

// 页面切换动画
.fade-transform-leave-active, .fade-transform-enter-active
  transition: all .5s
.fade-transform-enter
  opacity: 0
  transform: translateX(-30px)
.fade-transform-leave-to
  opacity: 0
  transform: translateX(30px)
